.profile-info__center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px 0;
}
@media screen and (max-width: 714px) {
  .profile-info__center {
    margin-bottom: 37px;
  }
}