.page {
  max-width: 918px;
  min-width: 320px;
  min-height: 100vh;
  margin: auto;
  padding: 45px 19px 60px 19px;
  font-family: "Inter";
  font-weight: 400;
  color: #fff;
  background: #000;
  display: flex;
  flex-direction: column;
}