.form__text {
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.form__text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.form__text:not(:last-child) {
  margin-bottom: 30px;
}

.form__text:last-child {
  margin-bottom: 30px;
}

