.popup__title {
  margin-bottom: 54px;
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

@media screen and (max-width: 714px) {
  .popup__title {
    margin-bottom: 75px;
    font-size: 18px;
  }
}